// Small devices
@mixin sm {
   @media (max-width: #{$screen-sm-max}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (max-width: #{$screen-md-max}) {
       @content;
   }
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}
