// Google Fonts import
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400|Noto+Sans');

// Fonts
$oxygen: 'Oxygen', sans-serif;
$noto: 'Noto Sans', sans-serif;

// Colors
$blue: #3d9be9;
$blue-dark: #2475b9;
$grey: #9DB2C2;
$grey-dark: #4E596B;
$red: #a94442;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 575px;

// Small tablets (portrait view)
$screen-md-max: 767px;
