@import '~sass/styles';

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #fff;

  .container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
  }

  h1 {
    font-family: $noto;
    color: $blue;
    margin: 0;
    font-size: 28px;
    line-height: 1;
  }

  .profile {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:hover {
      @media (min-width: 768px) {
        button {
          opacity: 1;
          z-index: 1;
          right: 100%;
        }
      }
    }

    img {
      width: 42px;
      height: 42px;
      @include border-radius(50%);
      object-fit: cover;
    }

    button {
      font-family: $noto;
      font-size: 14px;
      color: $grey;
      text-decoration: none;
      border: 0;
      padding: 15px;
      background: none;
      cursor: pointer;
      position: absolute;
      right: -100%;
      width: 80px;
      opacity: 0;
      z-index: -1;
      @include transition(all .3s linear);

      &:hover {
        color: $grey-dark;
      }
    }

    &.menu-active {
      button {
        @include md {
          opacity: 1;
          z-index: 1;
          right: 100%;
        }
      }
    }

  }

  .filters {
    border-top: 1px solid #f3f6f8;

    > .container {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
      padding: 30px 0;

      @include sm {
        padding: 30px 10px;
      }
    }

    input {
      flex: 0 0 30%;
      color: $grey;
      font-weight: 300;
      letter-spacing: 0.5px;
      background-color: #fff;
      border: 1px solid #E1EAF0;
      padding: 10px 15px;
      cursor: text;
      width: 100%;
      @include transition(all 0.1s linear);
      @include border-radius(5px);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      @include sm {
        font-size: 11px;
        padding: 10px;
      }

      &:hover {
        color: $grey-dark;
      }

      &.has-value {
        border-left-width: 3px;
        border-left-color: $blue;
        color: $blue;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $grey;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $grey;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $grey;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $grey;
      }
    }

  } /* .filters */
}

.events-wrap {
  position: relative;
  padding: 200px 0 100px;
  max-width: 1020px;
  margin: 0 auto;
  min-height: 100vh;
}
