@import '~sass/styles';

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #fff;
  border-bottom: 1px solid #f3f6f8;

  .container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
  }

  h1 {
    font-family: $noto;
    color: $blue;
    margin: 0;
    font-size: 28px;
    line-height: 1;
  }

  .profile {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:hover {
      @media (min-width: 768px) {
        button {
          opacity: 1;
          z-index: 1;
          right: 100%;
        }
      }
    }

    img {
      width: 42px;
      height: 42px;
      @include border-radius(50%);
      object-fit: cover;
    }

    button {
      font-family: $noto;
      font-size: 14px;
      color: $grey;
      text-decoration: none;
      border: 0;
      padding: 15px;
      background: none;
      cursor: pointer;
      position: absolute;
      right: -100%;
      width: 80px;
      opacity: 0;
      z-index: -1;
      @include transition(all .3s linear);

      &:hover {
        color: $grey-dark;
      }
    }

    &.menu-active {
      button {
        @include md {
          opacity: 1;
          z-index: 1;
          right: 100%;
        }
      }
    }

  }
}

.events-wrap {
  position: relative;
  padding: 100px 0;
  max-width: 1020px;
  margin: 0 auto;
  min-height: 100vh;
}
