<div class="box-wrap">
  <nav>
    <div class="container">
      <h1>events</h1>

      <div class="profile" (click)="menuActive = !menuActive" [class.menu-active]="menuActive">
        <img src="{{userImage ? userImage : 'assets/images/placeholder-user1.png'}}" alt="">
        <button type="button" (click)="logout()">log out</button>
      </div>
    </div>
  </nav>

  <div class="events-wrap">
    <div class="container">
      <div class="events" *ngIf="events">
        <ng-container *ngFor="let event of events">
          <app-event-list [event]="event"></app-event-list>
        </ng-container>
      </div>

    </div>
  </div>
</div>
