@import '~sass/styles';

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #fff;
  border-bottom: 1px solid #f3f6f8;

  .container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
  }

  h1 {
    font-family: $noto;
    color: $blue;
    margin: 0;
    font-size: 28px;
    line-height: 1;
  }

  button {
    font-family: $noto;
    font-size: 14px;
    color: $grey;
    text-decoration: none;
    margin-left: auto;
    border: 0;
    background: none;
    cursor: pointer;

    &:hover {
      color: $grey-dark;
    }
  }
}

.events-wrap {
  position: relative;
  padding: 100px 0;
  max-width: 1020px;
  margin: 0 auto;
  min-height: 100vh;
}
